In [80]:
import json 
import sqlparse
from sqlparse.sql import Identifier, IdentifierList, remove_quotes, Token, TokenList, Where
from sqlparse.tokens import Keyword, Name, Punctuation, String, Whitespace
from sqlparse.utils import imt
import pandas as pd
from flatten_dict import flatten
from pprint import pprint
import sql_metadata
import re

In [2]:
## Files imported

## counter queries (sql+redis)
json_file_path = '/Users/mathieupeychet/Downloads/sql-export.json'

## foreign_key csv generated
foreign_key_df = pd.read_csv('/Users/mathieupeychet/Documents/foreign_keys.csv')

## To join an event to a ultimate_namespace_id, we have 3 potential standard tables to join
table_to_join = ['projects', 'namespaces', 'groups']

In [4]:

def sql_queries_dict(json_file):
    ''' 
    function that transforms the sql-export.json file into a Python dict with only SQL batch counters
    '''
    with open(json_file) as f:
        data = json.load(f)

    from flatten_dict.reducer import make_reducer
    full_payload_dict = flatten(data, reducer=make_reducer(delimiter='.'))

    sql_queries_dict  = {}

    for (key, value) in full_payload_dict.items():
       # Check if key is even then add pair to new dictionary
       if isinstance(value, str) and str.startswith(value, 'SELECT') is True:
           sql_queries_dict[key] = value
    
    return sql_queries_dict

sql_queries_dict = sql_queries_dict(json_file_path)

In [75]:
len(sql_queries_dict)

650

In [84]:
test = 'SELECT COUNT("ci_pipelines".{:start=>1, :finish=>465}) FROM ci_pipelines WHERE "ci_pipelines"."config_source" = 1'

test= re.sub('{:start=>[0-9]{1,}, :finish=>[0-9]{1,}}', 'id', test)
test

'SELECT COUNT("ci_pipelines".id) FROM ci_pipelines WHERE "ci_pipelines"."config_source" = 1'

In [82]:
def create_join_mapping_df(sql_queries_dict):
    '''
        The functoin returns a dataframe with the following columns
        - counter: name of the counter, which is the item key in the dictionary passed
        - sql_query: query run to calculate the counter, item value in the dictionary passed as argument
        - table_name: name of the table in the FROM statement of the sql_query
        - foreingn_table_name: 
        - foreign_column_name:
    '''
    final_join_mapping_df = pd.DataFrame()
    for key, value in sql_queries_dict.items():
        sql_value = sqlparse.parse(value)[0]
        ## get the table which is queried in the FROM statement
        queried_tables_list = sql_metadata.get_query_tables(value)
        value = value.replace('"', "")
        
        valu= re.sub('{:start=>[0-9]{1,}, :finish=>[0-9]{1,}}', 'id', value)
        # if projects is just do the join on projects
        if 'projects' in queried_tables_list:
            potential_joins = foreign_key_df[(foreign_key_df['table_name'] == 'projects') & (foreign_key_df['foreign_table_name'] == 'namespaces')]
            potential_joins = potential_joins.drop_duplicates()
            table_to_append = potential_joins[potential_joins.table_name == 'projects']
            table_to_append["counter"] = key
            table_to_append["sql_query"] = value
            final_join_mapping_df = final_join_mapping_df.append(table_to_append, ignore_index=True)   
        else:
            for index, queried_table in enumerate(queried_tables_list):

            ## 
                potential_joins = foreign_key_df[(foreign_key_df['table_name'] == queried_table) & (foreign_key_df['foreign_table_name'].isin(table_to_join))]
                potential_joins = potential_joins.drop_duplicates()
                
                if potential_joins[potential_joins.foreign_table_name == 'projects'].empty is False:
                    table_to_append = potential_joins[potential_joins.foreign_table_name == 'projects']
                    table_to_append["counter"] = key
                    table_to_append["sql_query"] = value
                    final_join_mapping_df = final_join_mapping_df.append(table_to_append, ignore_index=True)
                elif potential_joins[potential_joins.foreign_table_name == 'groups'].empty is False:
                    table_to_append = potential_joins[potential_joins.foreign_table_name == 'groups']
                    table_to_append["counter"] = key
                    table_to_append["sql_query"] = value
                    final_join_mapping_df = final_join_mapping_df.append(table_to_append, ignore_index=True)
                elif potential_joins[potential_joins.foreign_table_name == 'namespaces'].empty is False:
                    table_to_append = potential_joins[potential_joins.foreign_table_name == 'namespaces']
                    table_to_append["counter"] = key
                    table_to_append["sql_query"] = value
                    final_join_mapping_df = final_join_mapping_df.append(table_to_append, ignore_index=True)
                if table_to_append.empty is False:
                    break
                
        
    return final_join_mapping_df

fj_df = create_join_mapping_df(sql_queries_dict)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
fj_df

,table_name,column_name,foreign_table_name,foreign_column_name,counter,sql_query
0,users,managing_group_id,namespaces,id,active_user_count,SELECT COUNT(users.id) FROM users WHERE (users...
1,boards,project_id,projects,id,counts.boards,SELECT COUNT(boards.id) FROM boards
2,ci_builds,project_id,projects,id,counts.ci_builds,SELECT COUNT(ci_builds.id) FROM ci_builds WHER...
3,ci_pipelines,project_id,projects,id,counts.ci_internal_pipelines,SELECT COUNT(ci_pipelines.id) FROM ci_pipeline...
4,ci_pipelines,project_id,projects,id,counts.ci_external_pipelines,SELECT COUNT(ci_pipelines.id) FROM ci_pipeline...
5,ci_pipelines,project_id,projects,id,counts.ci_pipeline_config_auto_devops,SELECT COUNT(ci_pipelines.id) FROM ci_pipeline...
6,ci_pipelines,project_id,projects,id,counts.ci_pipeline_config_repository,SELECT COUNT(ci_pipelines.id) FROM ci_pipeline...
7,ci_triggers,project_id,projects,id,counts.ci_triggers,SELECT COUNT(ci_triggers.id) FROM ci_triggers
8,ci_pipeline_schedules,project_id,projects,id,counts.ci_pipeline_schedules,SELECT COUNT(ci_pipeline_schedules.id) FROM ci...
9,project_auto_devops,project_id,projects,id,counts.auto_devops_enabled,SELECT COUNT(project_auto_devops.id) FROM proj...
10,project_auto_devops,project_id,projects,id,counts.auto_devops_disabled,SELECT COUNT(project_auto_devops.id) FROM proj...
11,deployments,project_id,projects,id,counts.deployments,"SELECT COUNT(deployments.{:start=>1, :finish=>..."
12,deployments,project_id,projects,id,counts.successful_deployments,"SELECT COUNT(deployments.{:start=>1, :finish=>..."
13,deployments,project_id,projects,id,counts.failed_deployments,"SELECT COUNT(deployments.{:start=>1, :finish=>..."
14,environments,project_id,projects,id,counts.environments,SELECT COUNT(environments.id) FROM environments
15,clusters,management_project_id,projects,id,counts.clusters,SELECT COUNT(clusters.id) FROM clusters
16,clusters,management_project_id,projects,id,counts.clusters_enabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
17,clusters,management_project_id,projects,id,counts.project_clusters_enabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
18,clusters,management_project_id,projects,id,counts.group_clusters_enabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
19,clusters,management_project_id,projects,id,counts.instance_clusters_enabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
20,clusters,management_project_id,projects,id,counts.clusters_disabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
21,clusters,management_project_id,projects,id,counts.project_clusters_disabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
22,clusters,management_project_id,projects,id,counts.group_clusters_disabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
23,clusters,management_project_id,projects,id,counts.instance_clusters_disabled,SELECT COUNT(clusters.id) FROM clusters WHERE ...
24,clusters,management_project_id,projects,id,counts.clusters_platforms_eks,SELECT COUNT(clusters.id) FROM clusters INNER ...
25,clusters,management_project_id,projects,id,counts.clusters_platforms_gke,SELECT COUNT(clusters.id) FROM clusters INNER ...
26,clusters,management_project_id,projects,id,counts.clusters_platforms_user,SELECT COUNT(clusters.id) FROM clusters WHERE ...
27,clusters,management_project_id,projects,id,counts.clusters_management_project,SELECT COUNT(clusters.id) FROM clusters WHERE ...
28,cluster_agents,project_id,projects,id,counts.kubernetes_agents,SELECT COUNT(cluster_agents.id) FROM cluster_a...
29,environments,project_id,projects,id,counts.in_review_folder,SELECT COUNT(environments.id) FROM environment...
...,...,...,...,...,...,...
527,issues,project_id,projects,id,usage_activity_by_stage_monthly.plan.service_d...,SELECT COUNT(issues.id) FROM issues WHERE issu...
528,projects,namespace_id,namespaces,id,usage_activity_by_stage_monthly.plan.projects_...,SELECT COUNT(DISTINCT projects.creator_id) FRO...
529,projects,namespace_id,namespaces,id,usage_activity_by_stage_monthly.plan.projects_...,SELECT COUNT(DISTINCT projects.creator_id) FRO...
530,projects,namespace_id,namespaces,id,usage_activity_by_stage_monthly.plan.projects_...,SELECT COUNT(DISTINCT projects.creator_id) FRO...
531,epics,group_id,namespaces,id,usage_activity_by_stage_monthly.plan.epics,SELECT COUNT(DISTINCT epics.author_id) FROM ep...
532,deployments,project_id,projects,id,usage_activity_by_stage_monthly.release.deploy...,SELECT COUNT(DISTINCT deployments.user_id) FRO...
533,deployments,project_id,projects,id,usage_activity_by_stage_monthly.release.failed...,SELECT COUNT(DISTINCT deployments.user_id) FRO...
534,releases,project_id,projects,id,usage_activity_by_stage_monthly.release.releases,SELECT COUNT(DISTINCT releases.author_id) FROM...
535,deployments,project_id,projects,id,usage_activity_by_stage_monthly.release.succes...,SELECT COUNT(DISTINCT deployments.user_id) FRO...
536,projects,namespace_id,namespaces,id,usage_activity_by_stage_monthly.release.projec...,SELECT COUNT(DISTINCT projects.creator_id) FRO...
537,users,managing_group_id,namespaces,id,usage_activity_by_stage_monthly.secure.user_pr...,SELECT COUNT(users.id) FROM users WHERE (users...
538,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_co...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
539,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_da...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
540,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_de...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
541,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_li...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
542,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_sa...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
543,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_se...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
544,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_co...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
545,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_ap...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
546,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_ap...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
547,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.secure.user_un...,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
548,ci_builds,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_builds,SELECT COUNT(DISTINCT ci_builds.user_id) FROM ...
549,ci_pipelines,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_exte...,SELECT COUNT(DISTINCT ci_pipelines.user_id) FR...
550,ci_pipelines,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_inte...,SELECT COUNT(DISTINCT ci_pipelines.user_id) FR...
551,ci_pipelines,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_pipe...,SELECT COUNT(DISTINCT ci_pipelines.user_id) FR...
552,ci_pipelines,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_pipe...,SELECT COUNT(DISTINCT ci_pipelines.user_id) FR...
553,ci_pipeline_schedules,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_pipe...,SELECT COUNT(DISTINCT ci_pipeline_schedules.ow...
554,ci_pipelines,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_pipe...,SELECT COUNT(DISTINCT ci_pipelines.user_id) FR...
555,ci_triggers,project_id,projects,id,usage_activity_by_stage_monthly.verify.ci_trig...,SELECT COUNT(DISTINCT ci_triggers.owner_id) FR...
556,projects,namespace_id,namespaces,id,usage_activity_by_stage_monthly.verify.project...,SELECT COUNT(DISTINCT projects.creator_id) FRO...

In [33]:
def add_counter_name_as_column(counter_row):
    sql_query_parsed = sqlparse.parse(counter_row['sql_query'])
    token_list = sql_query_parsed[0].tokens
    for index, token in enumerate(token_list):
        #Token.Keyword.DML
        if (token.is_keyword and str(token) == 'SELECT') is True:
            select_index = index
            break

    token_list_with_counter_name = token_list[:]
    token_list_with_counter_name.insert(select_index + 1, ' "' + counter_row['counter'] + '" AS counter_name, ')
    enhanced_query_list = [str(token) for token in token_list_with_counter_name]
    enhanced_query = ''.join(enhanced_query_list)
    
    return enhanced_query

In [66]:
def add_join_to_namespaces(counter_row):
    sql_query_parsed = sqlparse.parse(counter_row['sql_query'])
    token_list_with_counter_name = sql_query_parsed[0].tokens
    where_index = 0
    select_index = 0
    for index, token in enumerate(token_list_with_counter_name):        #Token.Keyword.DML
        if (token.is_keyword and str(token) == 'SELECT') is True:
            select_index = index
        if isinstance(token, Where) is True:
            where_index = index

    new_tok_list = token_list_with_counter_name[:]
    
    join_to_insert = ''
    if counter_row.table_name != 'users':
        join_to_insert = ' LEFT JOIN ' + counter_row.foreign_table_name + ' ON ' + counter_row.foreign_table_name + '.' + counter_row.foreign_column_name + ' = ' + counter_row.table_name + '.' + counter_row.column_name
    if counter_row.foreign_table_name == 'projects':
        join_to_insert += ' LEFT JOIN namespaces ON projects.namespace_id = namespaces.id '
    if where_index > 0:
        token_list_with_counter_name.insert(where_index + 1 , ' GROUP BY 1')
        token_list_with_counter_name.insert(where_index, join_to_insert)
    else:
        token_list_with_counter_name.append(join_to_insert)
        token_list_with_counter_name.append(' GROUP BY 1')
    if where_index > 0:
        token_list_with_counter_name.insert(select_index + 1, ' namespace_id,')

    enhanced_query_list = [str(token) for token in token_list_with_counter_name]
    enhanced_query = ''.join(enhanced_query_list)
    
    return enhanced_query

In [16]:
def write_sql_model_files(counter_row, sql_query_column, counter_name_column):
    model_name = counter_row[counter_name_column] + '.sql'
    wr = open(model_name, 'w')
    wr.write(counter_row[sql_query_column])
    wr.close()

In [83]:
for index, row in fj_df.iterrows():
    fj_df.loc[index,'global_counter_query'] = add_counter_name_as_column(row)
    fj_df.loc[index,'counter_per_namespace_query'] = add_join_to_namespaces(row)

for index, row in fj_df.iterrows():
    write_sql_model_files(row, 'counter_per_namespace_query', 'counter')

In [ ]:
for index, token in enumerate(tok_list):
    #Token.Keyword.DML
    if (token.is_keyword and str(token) == 'SELECT') is True:
        select_index = index
    if isinstance(token, Where) is True:
        where_index = index

new_tok_list = tok_list[:]
new_tok_list.insert(where_index + 1 , ' GROUP BY 1')
new_tok_list.insert(where_index, ' LEFT JOIN projects ON services.id = projects.project_id ')
new_tok_list.insert(select_index + 1, ' namespace_id,')

tok_list_str = [str(token) for token in new_tok_list]
query_stringed = ''.join(tok_list_str)
query_parsed = sqlparse.parse(query_stringed)
tok_list_transformed = query_parsed[0].tokens

query_stringed
test_formatting = sqlparse.format(query_stringed)
test_formatting

In [ ]:
def _update_table_names(
    tables: List[str], tokens: List[sqlparse.sql.Token], index: int, last_keyword: str
) -> List[str]:
    """
    Return new table names matching database.table or database.schema.table notation
    :type tables list[str]
    :type tokens list[sqlparse.sql.Token]
    :type index int
    :type last_keyword str
    :rtype: list[str]
    """

    token = tokens[index]
    last_token = tokens[index - 1].value.upper() if index > 0 else None
    next_token = tokens[index + 1].value.upper() if index + 1 < len(tokens) else None

    if (
        last_keyword
        in [
            "FROM",
            "JOIN",
            "INNER JOIN",
            "FULL JOIN",
            "FULL OUTER JOIN",
            "LEFT JOIN",
            "RIGHT JOIN",
            "LEFT OUTER JOIN",
            "RIGHT OUTER JOIN",
            "INTO",
            "UPDATE",
            "TABLE",
        ]
        and last_token not in ["AS"]
        and token.value not in ["AS", "SELECT"]
    ):
        if last_token == "." and next_token != ".":
            # we have database.table notation example
            table_name = "{}.{}".format(tokens[index - 2], tokens[index])
            if len(tables) > 0:
                tables[-1] = table_name
            else:
                tables.append(table_name)

        schema_notation_match = (Name, ".", Name, ".", Name)
        schema_notation_tokens = (
            (
                tokens[index - 4].ttype,
                tokens[index - 3].value,
                tokens[index - 2].ttype,
                tokens[index - 1].value,
                tokens[index].ttype,
            )
            if len(tokens) > 4
            else None
        )
        if schema_notation_tokens == schema_notation_match:
            # we have database.schema.table notation example
            table_name = "{}.{}.{}".format(
                tokens[index - 4], tokens[index - 2], tokens[index]
            )
            if len(tables) > 0:
                tables[-1] = table_name
            else:
                tables.append(table_name)
        elif tokens[index - 1].value.upper() not in [",", last_keyword]:
            # it's not a list of tables, e.g. SELECT * FROM foo, bar
            # hence, it can be the case of alias without AS, e.g. SELECT * FROM foo bar
            pass
        else:
            table_name = str(token.value.strip("`"))
            tables.append(table_name)

    return tables

In [ ]:
sql_test = 'SELECT test FROM "services" LEFT JOIN "users" ON users.id = services.id WHERE users.id = 5'

sql_test = sql_test.replace('"', "")
#print(sql_test)
parsed = sqlparse.parse(sql_test)
tokens = TokenList(parsed[0].tokens).flatten()
# print([(token.value, token.ttype) for token in tokens])

test = [token for token in tokens if token.ttype is not Whitespace]

table_syntax_keywords = [
    # SELECT queries
    "FROM",
    "WHERE",
    "JOIN",
    "INNER JOIN",
    "FULL JOIN",
    "FULL OUTER JOIN",
    "LEFT OUTER JOIN",
    "RIGHT OUTER JOIN",
    "LEFT JOIN",
    "RIGHT JOIN",
    "ON",
    # INSERT queries
    "INTO",
    "VALUES",
    # UPDATE queries
    "UPDATE",
    "SET",
    # Hive queries
    "TABLE",  # INSERT TABLE
]

tables = []
last_keyword = None
last_token=None

print(test)
for index, token in enumerate(test):
    print(token.ttype is Name)
    #print([token, token.ttype, last_token, last_keyword, token.is_keyword, index])
    if token.is_keyword and token.value.upper() == 'WHERE':
        # keep the name of the last keyword, the next one can be a table name
        where_index = index
        print(where_index)
    elif (
        token.is_keyword
        and str(token).upper() == "SELECT"
    ):
        # reset the last_keyword for "INSERT INTO SELECT" and "INSERT TABLE SELECT" queries
        last_keyword = None
        select_index = index
        print(2)
    elif token.ttype is Name or token.is_keyword:
        tables.append(str(token))
        print(3)
        
print(tables)
tables[0] = 'replace'
tables

In [ ]:
for index, row in final_join.iterrows():
   print(row['table_name'])

In [ ]:
for index, row in final_join_mapping_df.iterrows():
    if row.table_name != 'users':
        join_to_insert = 'LEFT JOIN ' + row.foreign_table_name + ' ON ' + row.foreign_table_name + '.' + row.foreign_column_name + ' = ' + row.table_name + '.' + row.column_name
        if row.foreign_table_name == 'projects':
            join_to_insert += ' LEFT JOIN namespaces ON projects.namespace_id = namespaces.id '
        print(join_to_insert)
    parsed_sql_query = sqlparse.parse(row.sql_query)[0]
    parsed_join_to_insert = sqlparse.parse(join_to_insert)
    parsed_sql_query.insert_before(-1, parsed_join_to_insert[0])
    print(parsed_sql_query)
    print(row.counter)

In [ ]:
## verify it is a where clause

parsed = sqlparse.parse(value)
where = parsed[0][-1]
print(where)
where_clause = False
for i in where.tokens:
    if str(i).find('WHERE') >= 0:
        where_clause = True
    
for i in parsed[0].tokens:
    try:
        for j in i.tokens:

            if str(j) == '"services"':
                print(j)
    except:
        pass
    
idx, _ = parsed[0].token_next_by(m=(Identifier, 'WHERE'))
print(idx)

In [ ]:
import json 
import sqlparse
from sqlparse.sql import Identifier, IdentifierList, remove_quotes, Token, TokenList, Where
from sqlparse.tokens import Keyword, Name, Punctuation, String, Whitespace
from sqlparse.utils import imt
import pandas as pd

sql_first = sql_queries_dict["counts.issues"]

parsed = sqlparse.parse(sql_first)[0]
test_list = []

print(parsed.get_name())

parsed._pprint_tree()
where_statment = parsed[-1]
select_statement = parsed

for x in select_statement:
    test_list.append(str(x))
    
test_list

left_join = ' LEFT JOIN projects ON test.project_id = projects.id'
test_list.append(left_join)
test_list

In [ ]:

table_to_look = 'issues'
table_to_join = ['projects', 'namespaces', 'groups']
foreign_key_df.head(20)

potential_joins = foreign_key_df[(foreign_key_df['table_name'] == table_to_look) & (foreign_key_df['foreign_table_name'].isin(table_to_join))]

for index, row in final_join.iterrows():
    if row.table_name != 'users':
        print('LEFT JOIN ' + row.foreign_table_name + ' ON ' + row.foreign_table_name + '.' + row.foreign_column_name + ' = ' + row.table_name + '.' + row.column_name)
        if row.foreign_table_name == 'projects':
            print('LEFT JOIN namespaces ON projects.namespace_id = namespaces.id')
    print(row.table_name)
    print(row.counter)

    
group_by_statement = 'GROUP BY 1'
print(group_by_statement)

In [ ]:
isinstance(where_statment, Where)

In [ ]:
idx, _ = parsed.token_next_by(m=(Keyword, "BETWEEN"))
print(idx)
if idx is not None:
    _, token = parsed.token_next(idx=idx)
    if token:
        if isinstance(token, IdentifierList):
            # In case of "LIMIT <offset>, <limit>", find comma and extract
            # first succeeding non-whitespace token
            idx, _ = token.token_next_by(m=(sqlparse.tokens.Punctuation, ","))
            _, token = token.token_next(idx=idx)
        if token and token.ttype == sqlparse.tokens.Literal.Number.Integer:
            print(int(token.value))

where = next(token for token in parsed.tokens if isinstance(token, Where))

In [ ]:
value = 'SELECT test FROM "services" LEFT JOIN "users" ON users.id = services.id WHERE users.id = 5'

elements = sqlparse.parse(value)
tok_list = elements[0].tokens

isinstance(tok_list[-1], Where)

tok_list

## add group by at the end
## add joins (what if there is a namespace, group or project table already)
## add namespace_id

In [ ]:
for index, token in enumerate(tok_list):
    #Token.Keyword.DML
    if (token.is_keyword and str(token) == 'SELECT') is True:
        select_index = index
    if isinstance(token, Where) is True:
        where_index = index

new_tok_list = tok_list[:]
new_tok_list.insert(where_index + 1 , ' GROUP BY 1')
new_tok_list.insert(where_index, ' LEFT JOIN projects ON services.id = projects.project_id ')
new_tok_list.insert(select_index + 1, ' namespace_id,')

tok_list_str = [str(token) for token in new_tok_list]
query_stringed = ''.join(tok_list_str)
query_parsed = sqlparse.parse(query_stringed)
tok_list_transformed = query_parsed[0].tokens

query_stringed
test_formatting = sqlparse.format(query_stringed)
test_formatting

wr = open('test.sql', 'w')
wr.write(test_formatting)
wr.close()